<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.240817.153636" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.240817.162249" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.240817.160302" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>